.attribute img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.attribute{
    display: flex;
    text-align: center;
    
    align-items: center;
}
.attribute a{
    margin-right: 10px;
    color: #6047EC;
    font: bold;
    text-decoration: none;
}
hr{
    margin-bottom: 30px;
    border: 1px solid rgba(17, 17, 17, 0.15);
}
  